.dark {
    color: #eee;
    background-color: #0d0711;
}

.light {   
    background-color: #d9e9e4;
}

.dark .navbar {
    background-color: rgb(34, 38, 43);
    color: #eee;
    --bs-navbar-brand-color: #eee;
    --bs-navbar-brand-hover-color: #809fff;
    --bs-navbar-color: #eee;
    --bs-navbar-active-color: #eee;
    --bs-navbar-hover-color: #809fff;  
}

.light .navbar {
    /* background-color:#e9ecef; */ 
    background-color:#bae4d6;
    --bs-navbar-brand-color: #1d3723;
    
}

.dark .navbar .btn {
     --bs-btn-bg: #dbe4ee;
     --bs-btn-padding-x: 0.25rem;
     --bs-btn-padding-y: 0.1rem;
}

.light .navbar .btn {
     --bs-btn-bg: #40474d;
     --bs-btn-padding-x: 0.25rem;
     --bs-btn-padding-y: 0.1rem;
}

.light .navbar-brand {
    /* font-weight:550; */
}

.dark .MuiPagination-root button {
    background-color: #361451;
    color: #bdaeae;
    /* color: var(--bs-secondary-color); */
}

.light .MuiPagination-root button {
    background-color: #bdd7cd;
}

.dark .MuiButtonBase-root.MuiPaginationItem-root.Mui-selected  {
background-color: #5c2985;
color: #1976d2;

}

.dark .MuiButtonBase-root.MuiPaginationItem-root.Mui-disabled  {
opacity: 0.5;
}

.light .MuiButtonBase-root.MuiPaginationItem-root.Mui-selected  {
background-color: rgba(210, 232, 223, 1);
}

.light .list-group-item {
    /* --bs-list-group-border-color: var(--bs-success-border-subtle);     */
    --bs-list-group-border-color: #cdded9;    
    /* background-color: #d9e9e4; */
}

.light .recipeCard .list-group-item {
    background-color: #eeeeee;
}

.light .card  {
    background-color: #eaf1ee;
}

/* .light .
background-color: #eaf1ee;
} */

.light .list-group-item.active {
    background-color: var(--bs-info-text-emphasis);
}

.dark .list-group-item.active {
    background-color: #c4c6e8;
}

.light .form-select{
    border-color: var(--bs-dark-bg-subtle); 
}

.light .btnDisableTxt {
    color: #dc3545;
}
.dark .btnDisableTxt {
    color: #ea868f; 
}

.light .invalid-feedback {
    color: #dc3545;
}
.dark .invalid-feedback {
    color: #ea868f;
}
.light .loginCardHeader {
    background-color:#cfeae1;
}
.dark .loginCardHeader {
    background-color: rgb(45, 51, 59);
    border-bottom-color: #495057;    
}

.dark .card-header-tabs .nav-link.active {
    background-color: #212529;
    border-bottom-color: #212529;
}
.light .card-header-tabs .nav-link.active {
    border-top-color: rgba(0, 0, 0, 0.175);
    border-left-color: rgba(0, 0, 0, 0.175);
    border-right-color: rgba(0, 0, 0, 0.175);
    background-color: #eaf1ee;
    border-bottom-color: #eaf1ee;
}

.light .passwordInvalid {
    color: #dc3545;
}
.dark .passwordInvalid {
    color: #ea868f;
}
.light .loginInvalid {
    color: #dc3545;
}
.dark .loginInvalid {
    color: #ea868f;
}
.dark .form-check-input {
    --bs-body-bg: #a7acb1;
}